*{
    margin: 0;
    padding: 0;

}

.cabecalho {
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 24px;
    font-size: 20px;
}

body{
    background-image: linear-gradient(#424E61,#4ebfe9);
    font-family: 'Poppins', sans-serif;
}

.escola-imagem{
    width: 20%;
}

.escola{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 34px 0;
}

.imagem-estudante{
    width: 120px;
}

.icone-estudante{
    padding-bottom: 50px;
    width: 40px;
}

.estudante-titulo{
    padding-bottom: 50px;
    text-align: center;
}

.estudante-todos{
    grid-template-columns: 18% 18% 18% 18% 18%;
    display: grid;
}

.rodape{
    width: 555.7%;
    background-color: black;
    text-align: center;
}

.rodape-imagem{
    width: 200px;
    padding: 12px 0;
}