*{
    margin: 0;
    padding: 0;

}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 24px;
    font-size: 20px;

}

.escola-imagem{
    width: 20%;
}

.escola{
    background-image: linear-gradient(#424E61,#4ebfe9);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 34px 0;
}